name: Live Stream [Cron]
on:
  workflow_dispatch:
    inputs:
      channel:
        required: true
jobs:
  live_stream:
    runs-on: ubuntu-latest
    env:
      FACEBOOK_MAIN_TOKEN: ${{ secrets.FACEBOOK_MAIN_TOKEN }}
      FACEBOOK_TEST_TOKEN: ${{ secrets.FACEBOOK_TEST_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: FedericoCarboni/setup-ffmpeg@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 14.16.0
      - run: npm install
      - run: |
          node jobs/voa-morning.js '${{ github.event.inputs.channel }}'
